@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <lik rel="stylesheet" asp-href-include="lin/bootstrap/dist/*.min.css" />
        <title>Error</title>
    </head>
    <body>
        <h2 class="text-danger">Error.</h2>
        <h2 class="text-danger">An error occured while processing your request.</h2>
    </body>
</html>
